

section {
    border-radius: 0px;
    width: 100%;
}



/* --------- INTRO Section ------------ */

section.intro {
    margin-top: 0;
}

.img-cropper {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    border: 3px solid #cccccc;
}

.img-cropper img {
    width: auto;
    height: 100%;
}